<div>
  <form [formGroup]="form">

    <div mat-dialog-title>Create new product</div>

    <div mat-dialog-content >
      <div class="form-container">

        <mat-form-field appearance="fill">
          <mat-label>Nombre producto</mat-label>
          <input required formControlName="nombre" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Cantidad</mat-label>
          <input required formControlName="cantidad" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha Ingreso</mat-label>
          <input required formControlName="fecha" matInput>
        </mat-form-field>

      </div>
    </div>

    <div mat-dialog-actions>
      <div class="actions-content">
        <button mat-flat-button color="primary" >Save</button>
      </div>
    </div>

  </form>
</div>
