.example-spacer {
    flex: 1 1 auto;
}

.main {
  width: 100vw;
}

.fullwidth {
  width: 100%;
}

.container {
  display: flex;
}

.custom-table {
  margin: 1rem;
  width: 100%;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
